[Unit]
Description=vault server
Requires=network-online.target
After=network-online.target

[Service]
User=vault
Environment=GOMAXPROCS=2
Environment=VAULT_SERVER_OPTS="-config-dir=/etc/vault.d"
ExecStart=/usr/bin/vault server $VAULT_SERVER_OPTS
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=default.target
